{% extends "tasks/base.html" %}

{% block content %}
<h2 class="mb-4">Task List</h2>

<div class="row">
    {% for task in tasks %}
    <div class="col-md-4">
        <div class="card shadow-sm mb-4">
            <div class="card-body">
                <h5 class="card-title">{{ task.title }}</h5>
                <p class="card-text">{{ task.description|truncatechars:100 }}</p>
                <span class="badge
                    {% if task.status == 'todo' %} bg-warning
                    {% elif task.status == 'in_progress' %} bg-primary
                    {% else %} bg-success {% endif %}">
                    {{ task.get_status_display }}
                </span>
                <div class="mt-3">
                    <a href="{% url 'task_update' task.pk %}" class="btn btn-sm btn-outline-primary">Edit</a>
                    <a href="{% url 'task_delete' task.pk %}" class="btn btn-sm btn-outline-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}
