{% extends 'tasks/base.html' %}

{% block content %}
<h2>Task List</h2>

<!-- Фильтры по статусу -->
<div class="mb-3">
    <a href="?status=todo" class="btn btn-primary">To-Do</a>
    <a href="?status=in_progress" class="btn btn-warning">In-Progress</a>
    <a href="?status=done" class="btn btn-success">Done</a>
    <a href="?" class="btn btn-secondary">All</a>
</div>

<!-- Карточки задач -->
<div class="row">
    {% for task in tasks %}
    <div class="col-md-4">
        <div class="card mb-3 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">{{ task.title }}</h5>
                <p class="card-text">{{ task.description|truncatechars:100 }}</p>
                <p>
                    {% if task.status == "To-Do" %}
                        <span class="badge bg-primary">To-Do</span>
                    {% elif task.status == "In Progress" %}
                        <span class="badge bg-warning text-dark">In Progress</span>
                    {% elif task.status == "Done" %}
                        <span class="badge bg-success">Done</span>
                    {% endif %}
                </p>
                <a href="{% url 'task_update' task.pk %}" class="btn btn-outline-info btn-sm">Edit</a>
                <a href="{% url 'task_delete' task.pk %}" class="btn btn-outline-danger btn-sm">Delete</a>
            </div>
        </div>
    </div>
    {% empty %}
    <p>No tasks found.</p>
    {% endfor %}
</div>

{% endblock %}
